<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--日志路径-->
    <add key="LogPath" value="D:\Demo1"/>
    <add key="LogMovePath" value="D:\Demo\IOSerialize\LogMovePath1"/>
  </appSettings>
</configuration>